.card-modal {
  position: fixed;
  left: 0%;
  top: 0%;
  width: 100%;
  height: 100%;

  color: #f2f2f2;
  background-color: #2e2e2e;

  z-index: 1;
} 

.open-modal-animation {
  animation-name: open-modal;
  animation-duration: 0.3s;
  animation-timing-function: ease-in-out;
}

@keyframes open-modal {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0%);
  }
}

.close-modal-animation {
  animation-name: close-modal;
  animation-duration: 0.3s;
  animation-timing-function: ease-in-out;
}

@keyframes close-modal {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(100%);
  }
}

.card-modal-header {
  display: flex;
  align-items: center;
  padding: 0em 1em;
  height: 3em;
}

.card-modal-name {
  flex: 1;
  font-weight: bold;
}

.card-modal-content > div {
  display: flex;
  align-items: center;

  line-height: 3.5em;
  border-bottom: 1px solid #777777;
  padding: 0em 1em;
}

input::-webkit-calendar-picker-indicator {
  filter: invert(1); 
  /* change input[date] calendar picker color */
}

.card-modal-content > div > .fas {
  margin-right: 1em;
  font-size: 1.2em;
}

.card-modal-description {
  white-space: pre-line;
}

.card-modal-footer {
  width: 100%;
  text-align: right;
  position: fixed;
  bottom: 0;
  color: #f2f2f2;
}
