.card-modal-input {
  flex: 1;

  height: 2em;
  font-family: inherit;
  font-size: inherit;
  background-color: inherit;
  color: inherit;
  border: none;

  margin-right: 1em;
  outline: none;
}

.card-modal-input::placeholder,
.card-modal-input::-webkit-input-placeholder {
  color: #db706c;
}


.card-modal-input-clear {
  cursor: pointer;
}
