.DoubleButton {
  position: relative;
  line-height: 0.5em;
  border: none;
  margin: 0.5em;
  padding: 0.5em;
  font-size: 1.5em;
  color: #f2f2f2;
  cursor: pointer;
  background-color: transparent;
  -webkit-tap-highlight-color: transparent;
  &:focus {
    outline: none;
    /* disable orange outline when button clicked */
  }
  &.click {
    transition: opacity 0.3s ease-out;
    opacity: 0;    
  }

  & > .BeforeClick {
    position: absolute;
    transform: translate(-50%, -50%);
    &.click {
      transition: opacity 0.3s ease-out;
      opacity: 0;
    }
  }

  & > .AfterClick {
    position: absolute;
    transform: translate(-50%, -50%);
    opacity: 0;    
    &.click {
      transition: opacity 0.3s ease-out;
      opacity: 1;
    }
  }
}
