.Card {
  box-shadow: 0.2em 0.2em 0.4em black;
  /* x, y, blur, color */
  padding: 0.5em;

  background-color: #3e3e3e;
  text-align: left;


  cursor: pointer;
  border: 0.8em solid #3e3e3e;

  color: #f2f2f2;
  transition: color 0.3s ease-out;
}
.Card:hover {
  color: #fcf695;
  transition: color 0.3s ease-out;
}

.CardTitle {
  font-size: 1.3em;
  font-weight: bold;
}

.CardSummary {
  margin-top: 0.5em;
  font-size: 0.9em;
  color: #cccccc;
}
.CardSummary > * {
  margin: 0em 0.3em;
}

.font-red {
  color: #db706c;
}

.font-orange {
  color: #f3aa51;
}